<div class="mat-elevation-z4">

  <mat-toolbar color="accent">
    <mat-toolbar-row class="toolbar-header">
      <div>
        <mat-icon fontSet="fas" fontIcon="fa-user"></mat-icon>
        <span class="ml-2">Seleccione usuario</span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="table-container">

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="item">
        <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dni">
        <mat-header-cell *matHeaderCellDef> DNI </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dni}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nombres">
        <mat-header-cell *matHeaderCellDef> Nombres </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombres}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="apellidos">
        <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.apellidos}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="correo">
        <mat-header-cell *matHeaderCellDef> Correo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> Seleccionar </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button tabindex="-1" mat-icon-button color="warn" matTooltip="Seleccionar" (click)="select(element)">
            <mat-icon fontSet="fas" fontIcon="fa-check-square"></mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let odd = odd;" [ngClass]="{gray: odd}"></mat-row>

    </mat-table>

  </div>

</div>
