<div class="d-flex justify-content-between mb-3">
  <h2>Bandeja de documentos</h2>
  <button tabindex="-1" mat-raised-button class="mt-1 mat-elevation-z8" color="accent" (click)="btnNuevo()">
    Nuevo documento
  </button>
</div>

<mat-card class="mat-elevation-z8">
  <mat-card-content>

    <form [formGroup]="form">
      <div class="row">

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 pr-md-2 pr-lg-2 pr-xl-2">

          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Tipo de documento</mat-label>
                <mat-select formControlName="sTipoDocumento">

                  <mat-option *ngFor="let item of tiposDocumento" [value]="item.id">
                    {{item.descripcion}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('sTipoDocumento').invalid">{{configService.getErrorMessage(form, 'sTipoDocumento')}}</mat-error>
              </mat-form-field>
            </div>
          </div>



          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Asunto</mat-label>
                <input matInput formControlName="sAsunto" placeholder="" autocomplete="off">
                <mat-error *ngIf="form.get('sAsunto').invalid">{{configService.getErrorMessage(form, 'sAsunto')}}</mat-error>
              </mat-form-field>
            </div>
          </div>


        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 pr-md-2 pr-lg-2 pr-xl-2">

        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>DNI</mat-label>
              <input matInput formControlName="sDni" placeholder="" autocomplete="off">
              <mat-error *ngIf="form.get('sDni').invalid">{{configService.getErrorMessage(form, 'sDni')}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Usuario</mat-label>
              <input matInput formControlName="sUsuario" placeholder="" autocomplete="off">
              <mat-error *ngIf="form.get('sUsuario').invalid">{{configService.getErrorMessage(form, 'sUsuario')}}</mat-error>
            </mat-form-field>
          </div>
        </div>




      </div>

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 pr-md-2 pr-lg-2 pr-xl-2">
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Número y siglas</mat-label>
                <input matInput formControlName="sSiglas" placeholder="" autocomplete="off">
                <mat-error *ngIf="form.get('sSiglas').invalid">{{configService.getErrorMessage(form, 'sSiglas')}}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-12 agregar">
              <button tabindex="-1" mat-raised-button class="mt-1" color="accent" (click)="fnDatatable()">
                 Buscar
              </button>
            </div>
          </div>
        </div>



      </div>
    </form>

  </mat-card-content>

</mat-card>

<mat-table [dataSource]="documentosDatasource" matSort (matSortChange) = "fnOrdenarDatasource($event)"
  class="mat-elevation-z8 mt-3">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> N° </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.idDocumento}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="dt.descripcion">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Documento </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tipoDocumentoDesc}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="asunto">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Asunto </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.asunto}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="numeroSiglas">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Número y Siglas </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.numeroSiglas}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="btnVer(element.idDocumento)">
        <mat-icon aria-hidden="false" aria-label="Ver Detalle">search</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="btnDelete(element.idDocumento)">
        <mat-icon aria-hidden="false" aria-label="Eliminar">delete_forever</mat-icon>

      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns; let odd = odd;" [ngClass]="{gray: odd}"></mat-row>
</mat-table>
<mat-paginator class="paginator" [length]="documentosDatasource?.total" [pageSize]="pageSize"
          [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>
