<div class="home">
  <div class="row d-flex justify-content-center align-items-center">

    <div class="col-md-4 pr-md-2 pl-md-2">
      <mat-card class="card-menu">
        <mat-card-header>
          <mat-card-title>Sistema de Gestión Documental</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-icon fontSet="fas" fontIcon="fa-folder-open"></mat-icon>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" routerLink="/bandeja">Ingresar</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>
