$palette-halloween-primary: (
  50 : #e5e5e6,
  100 : #bebfc0,
  200 : #939596,
  300 : #676a6c,
  400 : #474a4d,
  500 : #262a2d,
  600 : #222528,
  700 : #1c1f22,
  800 : #17191c,
  900 : #0d0f11,
  A100 : #56acff,
  A200 : #2393ff,
  A400 : #0078f0,
  A700 : #006bd6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$palette-halloween-accent: (
  50 : #e1ffe0,
  100 : #b5ffb3,
  200 : #84ff80,
  300 : #53fe4d,
  400 : #2efe26,
  500 : #09fe00,
  600 : #08fe00,
  700 : #06fe00,
  800 : #05fe00,
  900 : #02fd00,
  A100 : #ffffff,
  A200 : #f1fff1,
  A400 : #beffbe,
  A700 : #a4ffa4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$palette-halloween-warn: (
  50 : #fdede6,
  100 : #fad1bf,
  200 : #f7b295,
  300 : #f3936b,
  400 : #f17c4b,
  500 : #ee652b,
  600 : #ec5d26,
  700 : #e95320,
  800 : #e7491a,
  900 : #e23710,
  A100 : #ffffff,
  A200 : #ffe1dc,
  A400 : #ffb6a9,
  A700 : #ffa190,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$palette-migra-blue-dark: (
  50 : #e0e9f3,
  100 : #b3c8e1,
  200 : #80a4cd,
  300 : #4d7fb8,
  400 : #2663a9,
  500 : #00489a,
  600 : #004192,
  700 : #003888,
  800 : #00307e,
  900 : #00216c,
  A100 : #9cb1ff,
  A200 : #6989ff,
  A400 : #3661ff,
  A700 : #1c4dff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$palette-migra-blue-light: (
  50 : #e0f2f7,
  100 : #b3dfec,
  200 : #80cadf,
  300 : #4db4d2,
  400 : #26a4c9,
  500 : #0094bf,
  600 : #008cb9,
  700 : #0081b1,
  800 : #0077a9,
  900 : #00659b,
  A100 : #c6e8ff,
  A200 : #93d3ff,
  A400 : #60bfff,
  A700 : #47b4ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$palette-migra-green-dark: (
  50 : #ebf1e8,
  100 : #cedcc5,
  200 : #adc49f,
  300 : #8cac78,
  400 : #749b5b,
  500 : #5b893e,
  600 : #538138,
  700 : #497630,
  800 : #406c28,
  900 : #2f591b,
  A100 : #b6ff97,
  A200 : #92ff64,
  A400 : #6eff31,
  A700 : #5cff18,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$palette-migra-green-light: (
  50 : #f3f9ef,
  100 : #e1f0d7,
  200 : #cde6bc,
  300 : #b9dba1,
  400 : #aad48c,
  500 : #9bcc78,
  600 : #93c770,
  700 : #89c065,
  800 : #7fb95b,
  900 : #6dad48,
  A100 : #ffffff,
  A200 : #e3ffd4,
  A400 : #c2ffa1,
  A700 : #b2ff87,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$palette-black: (
  50 : #e4e4e4,
  100 : #bdbdbd,
  200 : #919191,
  300 : #646464,
  400 : #434343,
  500 : #222222,
  600 : #1e1e1e,
  700 : #191919,
  800 : #141414,
  900 : #0c0c0c,
  A100 : #e76c6c,
  A200 : #e04040,
  A400 : #ec0000,
  A700 : #d30000,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$palette-grey: (
  50 : #fdfdfe,
  100 : #fafbfc,
  200 : #f6f8fa,
  300 : #f2f5f7,
  400 : #f0f2f6,
  500 : #edf0f4,
  600 : #ebeef3,
  700 : #e8ecf1,
  800 : #e5e9ef,
  900 : #e0e5ec,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
